fastapi==0.115.12
uvicorn[standard]==0.34.3
python-dotenv==1.1.0
motor==3.7.1
pymongo[srv]==4.16.0
pydantic==2.11.3
email-validator==2.3.0
pyjwt==2.12.1
bcrypt==4.3.0
certifi==2025.4.26
python-multipart==0.0.20
dnspython==2.8.0
